{
  "presets": [
    "react",
    [
      "env",
      {
        "loose": true,
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 8"
          ]
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy"
  ]
}